<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>5-Dollar Office Gift</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script>
            //1. User clicks on the search button -> Grab the budget value. 
            function search()
            {
                console.log("Button is clicked.");
                var budget = $("#budget_input").val();
                console.log("My budget: " + budget);
            }
            //2. Call the backend server URL /search/<budget> to get the result. 
            
            $.ajax(
                {
                    url: "/search/${encodeURIComponent(budget)}", //e.g. /search/500
                    method: "GET",
                    dataType: "json", //we expect JSON back
                    success: function(data) 
                    {
                        console.log("Success:", data);
                        // To do: render results to page 

                        // $("#result").html(JSON.stringify(response));
                    },
                    error: function(xhr, status, error) 
                    {
                        console.error("Error:", status, error, xhr.responseText);
                        $("#result").html("Something went wrong.");
                    }
                });

            //3. Render the results under the list. 

        </script>

    </head>

    <body>
        <h2>Welcome to 5-Dollar Giftshop. Dedicated for office work.</h2>
        <input type="text" id="budget_input">
        <button onclick="search()">Search</button>
    </body>

</html>
